h1 {
    text-align: center;
    color: rgb(126, 78, 5);
    font-family: 'Times New Roman', Times, serif
}

h3 {
    text-align: center;
    background-color: rgb(255, 199, 136);
    border: 1px solid rgb(131, 96, 0);
    border-bottom: 0px
}

.descript {
    text-align: center;
    background-color: rgb(255, 199, 136);
    margin-top: -18px;
    border: 1px solid rgb(131, 96, 0);
}

.ingre {
    background-color: rgb(255, 221, 176);
    font-size: 18px;
    border: 1px solid rgb(131, 96, 0);
    padding: 20px
}

.direct {
    background-color: rgb(255, 221, 176);
    font-size: 18px;
    border: 1px solid rgb(131, 96, 0);
    padding: 22px;
}
img {
    height: 310px;
    width: 310px;
    margin: auto;
    display: block;
}

body {
    background-color: beige;
    margin-left: 30%;
    margin-right: 30%;
}

.home {
    text-align: center;
    list-style-position: inside;
    padding-right: 7%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    border: 1px solid rgb(131, 96, 0);
    padding: 10px
}

button {
    display: inline-block;
    font-size: 14px;
    background-color: rgba(143, 97, 28, 0.699);
    margin: 2px;
    padding: 5px;
}
